#content_wrapper {
    float: left;
    width: 100%;
    padding: 1px;
}

#box_topic {
    display: block;
    background: #e3e8cc;
    border: solid 1px black;
    margin-bottom:12px;
    padding: 5px;
}

#content {
    background: #e3e8cc;
    border: solid 1px black;
    padding: 5px;
}
